.header {
    width: 100%;
    box-sizing: border-box;
}

.visibility-hidden {
    display: none;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
}

.header__list {
    display: flex;
    margin: 0;
    padding: 21px 73px;
    justify-content: space-between;
    list-style: none;
}

.header__link {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    cursor: pointer;
    font-family: "PT Sans Bold", "Arial", sans-serif;
}

.logo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../img/logo.png");
    width: 140px;
    height: 71px;
}

.header__promo-img {
    width: 459px;
    height: 353px;
}

.header__promo {
    width: 100%;
    position: relative;
    padding: 58px 0 68px 0;
    text-align: center;
    background-image: url("../img/background photo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: -2;
}

.header__promo-wrapper {
    text-align: center;
    box-sizing: border-box;
    position: relative;
    height: 220px;
    padding: 65px 0 60px 0;
    width: 100%;
    background-color: white;
}
.header__promo-img-decoration{
    position: absolute;
    bottom: -1px;
    left: -1px;
    width: 101%;
}
.header__title {
    font-size: 21px;
    line-height: 26px;
    font-family: "PT Sans Bold", "Arial", sans-serif;
    text-transform: uppercase;
}

.header__subtitle {
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    font-family: "PT Sans", "Arial", sans-serif;
    color: #333333;
}

.content__list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
}

.content__item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    height: 257px;
    padding: 40px;
    text-align: center;

}
.content__item:nth-child(10),
.content__item:nth-child(9),
.content__item:nth-child(8){
    background-color: #eeeeee;
}

.content__item:nth-child(1),
.content__item:nth-child(7) {
    background-color: #81b3d2;
    width: 400px;
}

.content__item:nth-child(2),
.content__item:nth-child(6) {
    width: 800px;
    padding: 0;
    flex-grow: 1;

}

.content__title {
    margin: 0;
    font-family: "PT Sans Bold", "Arial", sans-serif;
    font-size: 21px;
    text-transform: uppercase;
    color: black;
}

.content__item-icon {
    width: 72px;
    height: 72px;
}

.content__item:nth-child(1) .content__title,
.content__item:nth-child(7) .content__title,
.content__item:nth-child(7) .content__text,
.content__item:nth-child(1) .content__text {
    color: white;
}

.content__text {
    margin: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #b3b3b3;
}

.content__item-img {
    width: 100%;
    height: 100%;
    object-fit: fill;

}


